td {
    width: 100px;
    height: 160px;
    border: 1px solid black;
}

table {
    width: 600px;
    border-collapse: collapse;
    /* position: fixed; */
    /* margin-left: -250px; */
    z-index: -1;
}

#board {
    position: absolute;
    z-index: -1;
    top: 100px;
    left: 250px;
    /* left: 50%;
    margin-left: -250px; */
}

.piece {
    position: absolute;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-top: -50px;
}

.piece1{
    background: black;
}

.piece2{
    background: red;
}